/usql
/usql.exe
/build/
/bin/
/.release/
/node_modules/
/*.tgz
/coverage.out
/*.sql
/*.txt

.usql_history*
.[a-f0-9]*

*.ini
*.csv
*.db
*.zip
*.out

*.sqlite3
*.sqlite3-journal
*.duckdb
*.wal

/instantclient*
/*.pc

.vscode/
